/* 簡介介紹 */
.instructions {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.instructions h1 {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4px;
}

.instructions p {
    font-size: 28px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 4px;
}
