/* 登入 */
.login-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.account, .password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

.account label, .password label {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
}

.account input, .password input {
    border: none;
    outline: none;
    width: 150px;
    height: 30px;
    font-size: 16px;
    padding-left: 4px;
}

.account input::placeholder, .password input::placeholder {
    color: #cccccc;
}

.login {
    margin-top: 16px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
}


